<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local Theatre Company</title>

    @*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
    <link rel="shortcut icon" type="image/ico" href="~/icon.ico">

    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> @Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" }) </li>
                    <li class="nav-item"> @Html.ActionLink("Blog", "Index", "Blogs", routeValues: null, htmlAttributes: new { @class = "nav-link" }) </li>
                    <li class="nav-item"> @Html.ActionLink("Contact", "Contact", "Home", routeValues: null, htmlAttributes: new { @class = "nav-link" }) </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead h-25" style="background-image: url('@Url.Content("~/Content/img/logo.jpg")')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 mx-auto">
                    <div class="site-heading" style="user-select: none">
                        <h1>Local Theatre Company</h1>
                        <span class="subheading">A Blog About Local Theatre</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="col-lg-11 col-md-10 mx-auto">
            <nav aria-label="breadcrumb" style="padding:0 0!important">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" style="font-size:18px; font-family:Century Gothic; font-weight:500">@Html.MvcSiteMap().SiteMapPath()</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- Main Content -->
    @* +++++++++++++++++++++++++++++++++++++ *@
    @RenderBody()
    @* +++++++++++++++++++++++++++++++++++++ *@
    <div style="margin-bottom: 10rem"></div>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <div class="container-md">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="text-center p-3" style="font-family:Century Gothic"> Copyright &copy; Local Theatre Company @DateTime.Now.Year </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>